# Bytecode & compiled objects
__pycache__/
*.py[cod]

# Test and runtime output
*.log
*.dfp
*.tmp
*.out
*.bin
*.jpeg
*.jpg
*.log
*.o

# Virtual environments
venv/
.env/

# Editor settings
.vscode/
.idea/
.DS_Store